.cork-board {
  background-color: #ae7f49;
  background-image: url(https://fadigeorge.files.wordpress.com/2011/06/cork.png);
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  color       : #444;
  font-family: 'Pangolin', cursive;
  font-size   : 16px;
  font-weight : 300;
  font-size   : 1rem;
  padding     : 2em;
  z-index: -100;
  width: 100vw;
  /*height: 100vh;*/
}

.header h2{
  font-family: 'Raleway', sans-serif;
  color:#fff;
  margin: 30px 0;
  font-size: 3vw;
  font-weight: 800;
  text-align: center;
}

.bt-settings{
  background-image: url("../../../assets/icon-settings.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 112px;
  height: 112px;
}

.bt-newnote{
  background-image: url("../../../assets/icon-newnote.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 105px;
  height: 105px;
}
.bt-logout{
  background-image: url("../../../assets/icon-logout.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 149px;
}

button {
  border:none;
  background-color: transparent;
  margin: 20px 0;
}

button:active, :focus, :checked{
	outline:0px;
}
