.cork-board {
  background-color: $bg-color;
  background-image: url(https://fadigeorge.files.wordpress.com/2011/06/cork.png);
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  color       : #444;
  font-family: 'Pangolin', cursive;
  font-size   : 16px;
  font-weight : 300;
  font-size   : 1rem;
  padding     : 2em;
  z-index: -100;
  width: 100vw;
  height: 100vh;
}
