<div class="cork-board">
  <div class="header">
      <h2>corckapp</h2>

      <button type="button" name="button" (dblclick)="['/corks']" alt="Settings"><div class="bt-settings" ngDraggable></div></button>
      <!-- <a [routerLink]="['/corks']"><div class="bt-settings" ngDraggable alt="Settings"></div></a> -->
      <button type="button" name="button" (dblclick)="newNote()" alt="New note"><div class="bt-newnote" ngDraggable></div></button>
      <button type="button" name="button" (dblclick)="logOut()" alt="Logout"><div class="bt-logout" ngDraggable></div></button>
      <button type="button" name="button" (dblclick)="user()" alt="User"><div class="bt-user" ngDraggable></div></button>
  </div>

  <article ngDraggable class="note" *ngFor="let noteTxt of notes">
      <img src="../../assets/icon-pin.png" alt="" class="pin">
      <div class="note_content">
          <div class="title-zone"><h4> {{ noteTxt.title }} </h4></div>
          <div class="note-txt-zone"><p> {{ noteTxt.contentNote }} </p></div>
         <div>
           <input type="image" (click)="deleteNote(noteTxt._id)" src="../../assets/icon-delete-note.png" alt="Submit">
           <input type="image" src="../../assets/icon-edit-note.png" alt="Submit">

          </div>

         <div class="shadow shadow--right"></div>
          <div class="shadow shadow--corner"></div>
          <div class="shadow shadow--bottom"></div>
      </div>
      <div class="trapezoid"></div>
    </article>

</div>
