<div class="cork-board">

  <ul>
    <li><a class="nav-links" href="/logout"><img class="icon-big" src="/images/exit.png" alt=""> </a></li>
    <li><a class="nav-links" href="/logout"><img class="icon-big" src="/images/exit.png" alt=""> </a></li>
  </ul>



  
  <article ngDraggable class="note" *ngFor="let noteTxt of cork.contentCork">
      <img src="../../assets/icon-pin.png" alt="" class="pin">
      <div class="note_content">
          <div class="title-zone"><h4> {{ noteTxt.title }} </h4></div>
          <div class="note-txt-zone"><p> {{ noteTxt.contentNote }} </p></div>
         <div>
           <input type="image" src="../../assets/icon-delete-note.png" alt="Submit">
           <input type="image" src="../../assets/icon-edit-note.png" alt="Submit">
            <!-- <button (click)="onTodoDelete()" type="button" name="button">delete</button>
            <button (click)="onTodoDelete()" type="button" name="button">edit</button> -->
          </div>

         <div class="shadow shadow--right"></div>
          <div class="shadow shadow--corner"></div>
          <div class="shadow shadow--bottom"></div>
      </div>
      <div class="trapezoid"></div>
    </article>


  <app-note-txt></app-note-txt>

</div>
