.note{
  width: 15vw;
  position: relative;
  background: #f7efba;
  padding: 10px;
  margin: 10px;
  box-shadow: -1px 2px 3px #ddd;
  font-family: 'Pangolin', cursive;
}

.note-txt-zone{
  padding: 10px;
  background-color: #f7eb9f;
  border-radius: 2px;
}

.note:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border-color: #f5e57f #fff;
    border-width: 30px 30px 0 0;
    border-style: solid;
  }
