<article ngDraggable class="note" *ngFor="let noteTxt of noteTxts">
    <div class="note_content">
        <div class="title-zone"><h4> {{ noteTxt.title }} </h4></div>
        <div class="note-txt-zone"><p> {{ noteTxt.contentNote }} </p></div>


       <div>
          <button (click)="onTodoDelete()" type="button" name="button">delete</button>
          <button (click)="onTodoDelete()" type="button" name="button">edit</button>
        </div>

       <div class="shadow shadow--right"></div>

  <article ngDraggable class="note" *ngFor="let noteTxt of noteTxts">
    <div class="note_content">
        <div class="title-zone"><h4> {{ noteTxt.title }} </h4></div>
        <div class="note-txt-zone"><p> {{ noteTxt.contentNote }} </p></div>

        <div>
          <button (click)="onTodoDelete()" type="button" name="button">delete</button>
          <button (click)="onTodoDelete()" type="button" name="button">edit</button>
        </div>

        <div class="shadow shadow--right"></div>
        <div class="shadow shadow--corner"></div>
        <div class="shadow shadow--bottom"></div>
    </div>
    <div class="trapezoid"></div>
    <img src="../../assets/icon-pin.png" alt="" class="pin">
  </article>



  <article ngDraggable class="note">
    <div class="note_content">
        <div class="title-zone"><h4> Luis, dimito</h4></div>

        <div>
          <button (click)="onTodoDelete()" type="button" name="button">delete</button>
          <button (click)="onTodoDelete()" type="button" name="button">edit</button>
        </div>

        <div class="shadow shadow--right"></div>
        <div class="shadow shadow--corner"></div>
        <div class="shadow shadow--bottom"></div>
    </div>
    <div class="trapezoid"></div>
    <img src="../../assets/icon-pin.png" alt="" class="pin">
  </article>





  <article ngDraggable class="note">
    <div class="title-zone">
      <h3>Sin titulo </h3>
    </div>
    <div class="note-txt-zone">
      <img src="../../assets/icon-pin.png" alt="Smiley face" width="42" height="42">
    </div>
    <div>
      <input type="image" src="../../assets/icon-delete-note.png" alt="Submit">
      <input type="image" src="../../assets/icon-edit-note.png" alt="Submit">

      <!-- <button (click)="onTodoDelete()" type="button" name="button">delete</button> -->
    </div>
  </article>
