.login-container {
  background-color: #fff;
  background-image: url(https://st3.depositphotos.com/5579612/13563/i/1600/depositphotos_135631434-stock-photo-sticky-post-it-notes-in.jpg);
  background-position: center;
  background-repeat: repeat;
  color       : #444;
  font-family: 'Raleway', sans-serif;
  font-size   : 16px;
  font-weight : 300;
  font-size   : 1rem;
  padding     : 2em;
  width:        100vw;
  height:       100vh;
  z-index: -10;
  text-align: center;

}

h1{
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 10vw;
  text-align: center;
  margin: 0 0 30px 0;
}

h2{
  font-family: 'Raleway', sans-serif;
  color:#5caac3;
  margin: 0 0 30px 0;
  font-size: 4vw;
}

/**********************************************/

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}

h4 {
  font-size: 22px;
  font-weight: 700;
}

.note-blue {
  display: inline-block;
  position: absolute;
  top: 32vh;
  left: 34vw;
}

.note-blue .pin {
  position: absolute;
  top: -3vh;
  left: 7vw;
}
.pin{
    z-index: 5000000;
}
.note-blue_content {
  background: #98d8f1;
  background: linear-gradient(to bottom, #c4efff 0%, #ddf6ff 50%, #f1fbff 100%);
  border-top: 4px solid #75dcff;
  height: 100%;
  padding: 50px;
  position: relative;
  width: 28vw;
}

.note-blue_content:before {
  background: transparent;
  border-color: #a5e7ff transparent;
  border-style: solid;
  border-width: 20px 20px 0 0;
  bottom: -20px;
  content: '';
  position: absolute;
  right: 0;
}
.note-blue_content .shadow {
  background: transparent;
  position: absolute;
  z-index: -1;
}
.note-blue_content .shadow.shadow--corner {
  bottom: 8.33333px;
  box-shadow: 0 29px 7px 0 rgba(0, 0, 0, 0.75);
  height: 2px;
  right: 18px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 22.5px;
  z-index: inherit;
}
.note-blue_content .shadow.shadow--right {
  box-shadow: 123px 0 17px 9px rgba(0, 0, 0, 0.3);
  height: calc(100% - 20px);
  right: 129.84615px;
  top: 25px;
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  width: 100px;
}
.note-blue_content .shadow.shadow--bottom {
  bottom: 113px;
  box-shadow: 0 139px 21px -4px rgba(0, 0, 0, 0.5);
  height: 20px;
  left: 4px;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  width: 14vw;
}

.trapezoid {
  border-top: 20px solid #f1fbff;
  border-right: 20px solid transparent;
  height: 0;
  /*width: 300px;*/
}

.pin--outside {
  width: 80px;
  position: absolute;
}



/**************************************/

.text-box-style{
  font-size: 140%;
  padding: 10px 20px 0px 2px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #7e8286;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  transition: all 400ms ease;
  color: #524c4a;
  width: 100%;
}

button {
  border:none;
  background-color: transparent;
  margin: 20px 0;
}
a, a:active, a:checked {
  color: #5caac3;
}
