
<ul>
  <li><a class="nav-links" href="/logout"><img class="icon-big" src="/images/exit.png" alt=""> </a></li>
  <li><a class="nav-links" href="/logout"><img class="icon-big" src="/images/exit.png" alt=""> </a></li>
</ul>


<div class="login-signup-container">
  <div class="overlay">
    <img class="fondo" src="https://st3.depositphotos.com/5579612/13563/i/1600/depositphotos_135631434-stock-photo-sticky-post-it-notes-in.jpg" alt="">
  </div>
  <div class="info-login-signup">
    <div class="header">
      <h2>corckapp</h2>
      <!-- <a><img class="loupe" src="../../assets/icon-loupe.png" alt=""></a> -->
      <h1><input class="text-box-style-big" type="text" name="find-friends" placeholder="find your friend's notes"></h1>
    </div>

    <div class="note-blue nb-login-position">
      <div class="note-blue_content">
          <h2>Login</h2>

          <form>
            <div *ngIf="error">
              {{ error }}
            </div>
            <p>
              <input class="text-box-style" type="text" [(ngModel)]="user.username" name="username" placeholder="Username">
            </p>
            <p>
              <input class="text-box-style" type="password" [(ngModel)]="user.password" name="password" placeholder="Password">
            </p>
            <button (click)="login()"><img src="../../assets/button-login.png" alt=""></button>
          </form>

          <h3>Still not a member? <a [routerLink]="['/signup']">Sign up</a></h3>

          <div class="shadow shadow--right"></div>
          <div class="shadow shadow--corner"></div>
          <div class="shadow shadow--bottom"></div>
      </div>
      <div class="trapezoid"></div>
    </div>
</div>
</div>
