
<div class="login-signup-container">
  <div class="overlay">
    <img class="fondo" src="https://st3.depositphotos.com/5579612/13563/i/1600/depositphotos_135631434-stock-photo-sticky-post-it-notes-in.jpg" alt="">
  </div>
  <div class="info-login-signup">
    <div class="header">
      <h2>corckapp</h2>

    </div>

    <div class="note-white nw-position">
      <div class="note-white_content">
          <h2>Your corks</h2>

          <div class="cork-block" *ngFor="let cork of corks">
            <a [routerLink]="['/corks', cork._id]"><img src="../../assets/icon-cork.png" alt=""></a>

              <!-- <label>ID:</label>
              <h3> {{ cork._id }} </h3>
              <label>TITLE:</label> -->
              <h3> {{ cork.title }} </h3>
          </div>

          <div class="space-newcork cork-block">
            <a><img src="../../assets/icon-newcork.png" alt=""></a>
            <h3>Add a new cork</h3>
          </div>



          <div class="shadow shadow--right"></div>
          <div class="shadow shadow--corner"></div>
          <div class="shadow shadow--bottom"></div>
      </div>
      <div class="trapezoid"></div>
    </div>
</div>
</div>
